@import '../core/variables';

.Card {
  list-style: none;
  border: solid 3px $colorPalleteDarkGrey;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
  background-color: $colorPalleteDarkBlue;
  width: 240px;
  min-height: 320px;
  margin: 20px;
  justify-content: center;
  padding: 4px;
  &:hover {
    transform: scale(1.1);
  }
  &__image {
    width: 200px;
    border-radius: 5px;
  }
  &__name {
    text-decoration: none;
    color: $colorPalleteLightBlue;
    font-size: 24px;
    font-family: $fontRickAndMorty;
  }
  &__species {
    text-decoration: none;
    color: $colorPalleteLightBrown;
    font-size: 14px;
  }
}
.fa-plus-circle {
  margin-left: 4px;
  &:hover {
    transform: scale(1.2);
  }
}
