@import '../core/variables';

.Filters {
  background-color: $colorPalleteDarkGreen;
  min-height: 50px;
  width: 100%;
  color: $colorPalleteLightBrown;
}
.SelectSpecies {
  width: 157px;
  border-radius: 5px;
}
.InputName {
  width: 150px;
  border-radius: 5px;
}
