@import '../core/variables';

.Header {
  background-color: $colorPalleteDarkGrey;
  // background: radial-gradient(ellipse at bottom, $colorPalleteLightBrown 0%, $colorPalleteDarkGrey 100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  &__logo {
    width: 300px;
  }
}
