// colors
$colorPalleteDarkGrey: #3d373c;
$colorPalleteDarkGreen: #2f9331;
$colorPalleteDarkBlue: #477385;
$colorPalleteDarkBrown: #926f44;
$colorPalleteLightGreen: #8bcf21;
$colorPalleteMediumBrown: #c19978;
$colorPalleteLightBlue: #83d2e4;
$colorPalleteLightBrown: #e5d29f;
$colorPalleteLightGrey: #e7e0db;

//font
$fontRickAndMorty: 'get_schwifty', Arial;
